@model Proyecto.Models.Comida

@{
    ViewData["Title"] = "Eliminar Comida";
}

<h1>Eliminar Comida</h1>

<h4>Comida</h4>
<hr />
<p>¿Está seguro de que desea eliminar esta comida?</p>

<div class="alert alert-danger">
    <strong>¡Advertencia!</strong> Esta acción no se puede deshacer.
</div>

<div>
    <h4>Detalles de la Comida</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="IdComida" />
    <div class="form-group">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
