@model IEnumerable<Proyecto.Models.Comida>

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdComida</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Precio.ToString("C")</td>
                <td>@item.Categoria</td>
                
            </tr>
        }
    </tbody>
</table>
